.image-grid-container {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background-color: white;
    margin: 1rem auto;
    /* max-width: 960px; */
    max-width: 85vw;
}

.image-grid-container > .image-cell {
    margin: 1rem;
}

/* .image-grid-container > img {
    max-width: 100%;
    max-height: 100%;
} */