.image-grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background-color: white;
    margin: 1rem auto;
    max-width: 85vw;
}

.image-grid-container > .image-cell {
    margin: 1rem;
}